@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

:root {
  --background-color: #ffffff;
  --background-hover: #F5F5F5;

  --primary-color: #000000;
  --secondary-color: #868686;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #DCDCDC;

  --border-radius: 3px;

  --small-spacing: 8px;
  --medium-spacing: 16px;
  --large-spacing: 32px;
}

* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

span {
  color: var(--secondary-color);
}

// TODO: Abstract buttons more
button {
  border: none;
  background: none;

  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

.input-wrapper {
  display: flex;
  height: 44px;
  padding: 0 var(--small-spacing);
  align-items: center;
  align-self: stretch;
  border-radius: var(--border-radius);
  border: 1px solid #000;

  & > input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;

    color: var(--primary-color);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
  }
}

table {
  border-collapse: collapse;

  & > caption {
    display: none;
  }

  thead {
    padding: var(--small-spacing) 0;
    border-bottom: 1px solid var(--secondary-color);
  }

  th {
    text-align: center;
    padding-bottom: var(--small-spacing);
  }

  td {
    text-align: center;
    padding: var(--medium-spacing) 0;
  }

  tbody > tr {
    transition: 0.5s;

    &.selectable {
      cursor: pointer;
    }

    &:hover {
      background-color: var(--background-hover);
    }
  }
}